In [37]:
a = 117893
b = str(a)
c = set(b)
d = list(b)
print(a,b,c,d)

117893 117893 {'8', '1', '3', '9', '7'} ['1', '1', '7', '8', '9', '3']

In [52]:
# Given a non-empty sequence of characters str
# return true if sequence is Binary, else return false
# Binary string is string formed of 0 & 1 only  eg. "10110100111"
# non Binary  eg.  "13545", "01453"

str1 = "11111"

d = [int(x) for x in list(str1) if int(x)>1 or int(x)< 0]
if len(d)>0:
    print(False)
else:
    print(True)

True

In [62]:
str2 = "geeks for geeks"
str3 = ""
list1 = list(str2)
c = [x for x in list1 if x!=" "]
for x in c:
    str3 = str3 + x
str3

'geeksforgeeks'

In [66]:
N = 23
a = [21,11,30,17, 30, 18, 13, 23, 10, 30, 11, 15, 21, 13, 13, 24, 25, 11, 15, 30, 15, 18, 13"
key = 899
b = list(a)
#c = [int(x) for x in list(a)]
b

['2',
 '1',
 ' ',
 '1',
 '1',
 ' ',
 '3',
 '0',
 ' ',
 '1',
 '7',
 ' ',
 '3',
 '0',
 ' ',
 '1',
 '8',
 ' ',
 '1',
 '3',
 ' ',
 '2',
 '3',
 ' ',
 '1',
 '0',
 ' ',
 '3',
 '0',
 ' ',
 '1',
 '1',
 ' ',
 '1',
 '5',
 ' ',
 '2',
 '1',
 ' ',
 '1',
 '3',
 ' ',
 '1',
 '3',
 ' ',
 '2',
 '4',
 ' ',
 '2',
 '5',
 ' ',
 '1',
 '1',
 ' ',
 '1',
 '5',
 ' ',
 '3',
 '0',
 ' ',
 '1',
 '5',
 ' ',
 '1',
 '8',
 ' ',
 '1',
 '3']